body {
  background-color: rgb(28, 35, 50);
  /* background-color: #45676d; */
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;

}
/* Banner */

.sentence {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 3.25em;
  margin-bottom: 0em;
  padding: 0.75em
}

.Banner {
  /* display: grid;
  grid-template-columns: 1fr; */
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0;
  padding-bottom:0px;
  width: 95vm;
  height: 25vh;
}

@media  screen and (max-width: 400px){
  .Banner {
padding: 2px;
height: 32vh;

  }  
  .web {
    font-size: 0.8vm;
   }
   .sentence   
   {
    width: auto;
    padding-top:1.75em;
    
  }
    .grid1, .grid2, .grid3 {
      padding: 250px 60px 10px 25px;
       
    }
  } 

.web {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.40em;
  color: rgb(245, 245, 247);
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  justify-items: center;
  text-shadow: 1% 3% 5% #e7de89;
  /* padding: 0% 10% 10% 0%; */
  padding-bottom:2em;
  /* margin: 8% 0% 0% 15%; */
}

@media only screen and (max-width: 600px) {
  .web {
    font-size: 1.5em;
    padding: 0% 5% 5% 0%;
    margin: 0% 0% 0% 0%;
  }
}

/* NavBar */
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3em;
  /* gap: 1.10%; */
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  font-family:sans-serif, Arial, Helvetica;
  text-align: center;
  font-size: 1.25em;
  /* border:dashed 3px #e0c397;  */
  
}
.Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
  /* background-color: rgb(152, 115, 168); */
  /* background-color: rgb(186, 139, 207); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:12vw;
  font-weight: bold;
  text-align: center;
  /* padding: 2%; */
  color: rgb(239, 236, 236);
  border: none;
  /* border:dashed 1.5px #e0c397;  */
  border-radius: 15px;
  text-decoration: none;
  
}
.Nav1:hover, .Nav2:hover, .Nav3:hover, .Nav4:hover , .Nav5:hover{
  background-color: rgb(170, 146, 210);
  box-shadow: 0 7px rgb(192, 191, 191);
  font-size: 1.02em;
}
.Nav1:active, .Nav2:active, .Nav3:active, .Nav4:active, .Nav5:active {
  background-color: rgb(138, 111, 181);
  box-shadow: 0 4px rgb(141, 141, 141);
  transform: translateY(7px);
}

/* Tablet, mid-small view */
  @media  screen and (max-width: 1400px) {
 .NavBar {
            font-size: 0.9em;
            padding:0px;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 0.05em;
  } 
  
    .Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
  background-color: rgb(36, 63, 45);
  display: flex;
  /* color: black; */
  justify-content: center;
  align-items: center;
  height: 48px;
  width:21vw;
  font-weight: bold;
  text-align: center;
  /* padding: 2%; */
  color: rgb(239, 236, 236);
  border: none;
  border:dashed 2px #e0c397; 
  border-radius: 15px;
  text-decoration: none;
  }
  
  a:link {
    text-decoration: none;
    color: #a6d49d;
    
  }
  .grid-wrapper{
    grid-gap: 0.5em
  }
  .body{
    grid-gap: 0.5em,
  }

  .grid1, .grid2, .grid3 {
    padding: 250px 60px 10px 25px;
     
  }
  }

@media screen and (max-width: 600px){
  .NavBar {
            font-size: 0.9em;
            padding:0px;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 0.05em;
  } 
  
    .Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
  background-color: rgb(152, 115, 168);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:21vw;
  font-weight: bold;
  text-align: center;
  /* padding: 2%; */
  color: rgb(239, 236, 236);
  border: none;
  border:dashed 2px #e0c397; 
  border-radius: 15px;
  text-decoration: none;
  }
  a:link {
    text-decoration: none;
    color: #8181ac;
  }
  .grid-wrapper{
    grid-gap: 0.5em
  }
  .body{
    grid-gap: 0.5em,
  }

  .grid1, .grid2, .grid3 {
    padding: 250px 60px 10px 25px;
     
  }
  }

/* Body */

.Body {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: 95vw;
  /* background-color: #c3caca; */
  /* border-radius: 25px; */
  color:black
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
  align-content: center;
  grid-gap: 1.2em;
  margin: auto;
  /* font-size: 18px;
  font-family:' Arial, Helvetica, sans-serif'; */
  text-align:justify;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing: -1.5px;
  padding: 0px;
  color:white;
  opacity: 0; 
  animation: fade-in 2s ease-in-out forwards; 
}

@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateY(-90px); /* Slide up slightly */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid1 {
  /* culomn 1 */
  /* border:dashed 2.5px #e0c397;  */
  display: grid;
  grid-template-rows: repeat(8, auto);
  font-size: 18.5px;
  font-family:' Arial, Helvetica, sans-serif';
  align-content: center;
  /* background-color: #fcedc5; */
  border-radius: 35px;
  /* box-shadow: 15% 12% 15% #999; */
  margin: 20px 5px;
  box-shadow: 2px #737779;
  padding: 20px;
  padding-top: 0px;
  text-align:justify;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing: -1.5px;
  line-height: 1.78em;

} 

.personal {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.grid2 {
  /*culomn 2 */
  display: grid;
  /* border:dashed 2.5px #e0c397;  */
  color:white;
  grid-template-rows: repeat(15, auto);
  /* background-color: #f8eece; */
  border-radius: 45px;
  font-size: 18px;
  font-family:' Arial, Helvetica, sans-serif';
  box-shadow: 2px #737779;
  text-align:justify;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing:-0.75px;
  padding: 20px;
  margin: 58px 8px 0px 8px;
  line-height: 1.79em;
  
}
.grid3 {
  /*culomn 3 */
  display: grid;
  color:white;
  grid-template-rows: repeat(15, auto);
  padding: 20px 50px 5px 20px;
  margin: 20px 3px;
  border-radius: 45px;
  text-align:justify;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing: -1.5px; 
  box-shadow: 2px #737779;
  font-size: 17px;
  font-family:' Arial, Helvetica, sans-serif';
  align-items: center;
  justify-content: center;
  line-height: 1.79em;
  
}

.p4 {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px 18px;
  line-height: 1.60em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight:300;
  text-align: center;
  text-align: justify;
  word-spacing: -5px
  ;
}

.p1 {
  padding: 0px 5px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.04em;
  line-height: 32px;
  text-align: justify;
  word-spacing: -4.5px;
}
.p2 {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
  font-size: 1em;
  text-align: center;
  line-height: 1em;
}
.p3 {
  padding: 10px 0px;
  font-weight: bold;
  margin: 5px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1em;
}

.hire {
  padding: 20px 0px;
}

.hh2{
  font-size: 1.55em;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1,
h2,
h4 {
  font-size: 1.90em;
  padding: 0px 5px 0px 5px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* line-height: 30px; */
}
h4 {
  padding-top: 2em;
  padding-bottom: 10px;
  font-size: 1.65em ;
 }
.hh1 {
  margin-top: 20px;
}
.hh5 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Nunito", sans-serif;
  line-height: 2em;
}

.pp4 {
  padding: 0px 0px;
  margin: 0px 0px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  text-align: justify;
  /* line-height: 5px; */
}
.download2 {
  color: #e1efa9;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-self: center;
  padding-left: 2em;
  /* margin-left: 10px;
  margin-right: 10px;   */
}

.download2:hover {
  text-decoration: underline; 
  color: #f5fcdc;
}


.hh4 {
  padding: 1em 0px 0px 0px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-align: center;
  gap: 1.5em;
  margin-top: 1em;
  font-size: 1.5em;
}


/* AboutMe    */

.AboutMe {
  /* background-color: rgba(151, 150, 150, 0.2); */
  margin: 20px;
  padding: 10px;
  overflow: hidden; 
  /* animation: slide-in 1s ease-out;
  opacity: 1;  */
  place-items: center;
  width: 250px;
}

/* @keyframes slide-in {
  from {
    transform: translateX(-40%); 
    opacity: 0; 
  }
  to {
    transform: translateX(0); 
    opacity: 1; 
  }
} */

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index: -1; /* Place the image behind other content */
}

.h-me2 {
  position:absolute;
  letter-spacing: 6px;
  top: 21%;
  left: 42%;
  transform: translate(-42%, 89%);
  margin: 0px 0px 0px 80px;
  font-family:Arial, Helvetica, sans-serif ;
  color:white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.p-me2 {
  position: absolute;
  top: 53%;
  left: 31%;
  bottom: 10%;
  transform: translate(-23%, -58%);
  margin-bottom: 30px;
  padding-bottom: 3em;
  text-indent: 20px;
  font-family: Arial, sans-serif, 'Montserrat';
  font-weight:400;
  font-size: 23px;
  text-align:justify;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing:-4px;
  /* text-shadow: 2px 2px #f0e586; */
  color:white;
  line-height: 2.25em;
  /* overflow: hidden; */
  white-space:normal;
  /* border-right: 2px solid; */
  /* width: 0; */
  /* animation: typing 1s steps(50, end) forwards, blinking 1s infinite; */
}
  
   /* @keyframes typing {
  from { width: 0 }
  to { width: 70% }
}  */

 /* @keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: black}
  100% {border-color: transparent}
}  */

.div-me2 {
  margin-bottom: 1em;
  padding-bottom: 2em;
}

@media screen and (max-width: 600px){
  .h-me2{
    position:absolute;
  letter-spacing: 6px;
  top: 15%;
  left: 39%;
  transform: translate(-70%, 56%);
  font-size: 2.5em;
  color:white;
  }
  .p-me2 {
    position: absolute;
  top: 0%;
  left: 25%;
  bottom: 20%;
  text-align:justify;
  justify-content: center;
  align-items: center;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing:-0.5px;
  transform: translate(-18%, 69%);
}

}
/* Projects */

.projects {
  display: grid;
  grid-template-rows:auto;
  background-color: rgb(7, 9, 13);
  justify-content: center;
  justify-items: center;
  justify-self: center;
  
}

@media screen and (max-width: 600px){
  .h2-projects {
    letter-spacing: 0.10em;
  }
  
}

.h2-projects {
  /* margin: 0.1em; */
  letter-spacing: 0.25em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: rgb(249, 252, 216);
  font-size: 3em;
  font-family: 'Arial', 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 3px 3px #fad9ad;
}

.div-squish {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
  align-content: center;
  margin: 10px;
  padding: 5px;
}
.p-projects {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  width: 65%;
  height: 78%;
  font-family: 'Arial', 'Montserrat', sans-serif;
  color: white;
  font-size: 19px;
  text-align:justify;
  text-justify: distribute;
  /* text-align-last: left; */
  word-spacing:-4.5px;
  line-height: 35px;
  border-radius: 30px;
  border: 2px dashed;
  justify-content: center;
  margin: 20px 25px; 
  padding: 1.5em 2.70em;
  justify-self: center;
  box-shadow: 1px 2px 5px 5px #5e6264;
} 
.push-word {
  padding-left: 8rem;
  color: rgb(238, 238, 206);
  font-size: 20px;
}
.aa{
  color: #eedfcc;
  /* text-shadow: 1px #999; */
  align-items: right;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
  padding-right: 25px;
}
.aa:hover {
  align-items: end;
  font-weight: bolder;
  font-size: 1.02em;
  color: #e0c397;
  text-decoration: underline;
}

.picsquish {
  /* display: flex; */
  align-items: center;
  width:278px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 10px #999;
  margin-top: opx;
  /* margin-left: 20px; */
  box-shadow: 6px 6px 6px 6px #57595a;
}

 /* .text-layer {
  width: 40%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  /* display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box; */
  /* z-index: 1; make sure the text layer is above the image */
/* }  */ */


.game-images {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 10px;
  box-shadow: 1px 2px 5px 5px #999;
}

/* ContactMe */

body {
  background-color: black;
  color: #fff;
  font-family: Arial, sans-serif;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* .devNavcontact {
  margin-top: 6em;

} */
.h2-form {
  margin-top: 20px;
  font-size: 2.75em;
  text-align: center;
}

@media screen and (max-width: 600px){
  form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    align-items: center;
    margin: auto imortant;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 7em;
  border-radius: 15px;
  width: 50vw;
  margin: auto;
  padding-left: 0%;
  padding-right: 0%;;
}


form label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 10px;
  border-radius: 15px;
  justify-content: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 50px; /* Decreased height to bring the labels closer to the input boxes */
  line-height: 90px; 
}


form input {
  width: 33vw;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2em;
}

form textarea {
  width: 33vw;
  height: 7em;
  padding: 8px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  line-height: 20px;
  justify-self: center;
  justify-content: center;
  border-radius: 10px;

}

form button {
  background-color: #1d4159;
  letter-spacing: 3px;
  height: 4em;
  width: 33vw;
  align-self: center;
  /* font-family:'Times New Roman', Times, serif; */
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
  justify-content: center;
  align-items: center;
} 
form button:hover {
background-color: #5184a7;
font-size: 1.5em;
}        
 
form button:active {
  background-color: #7099b5;
  box-shadow: 02px #c9c9c9;
  transform: translateY(7px);
}

.popup {
  position: fixed;
  top: 26%;
  left: 50%;
  border: 3px solid grey;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: 1.45em;
  color:white;
  text-align: center;
  box-shadow: 2px 2px #868889;
  z-index: 9999; /* Higher z-index value to bring it to the top */
}

.popup p {
  margin-bottom: 10px;
}