body, html {
  background-color: rgb(35, 3, 3);
  margin-bottom: 0.5em;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden; 
}

/* NavBar */
.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  background-color: rgb(57, 3, 3);
  display: flex;
  flex-direction: row;
  font-family:'Cairo', 'Montserrat';
  text-align: center;
  font-size: 1.20em;
  justify-content: center; 
  align-items: center;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 3px;
  width: auto;
  margin: 0em;
  padding: 2em 0em 1em 0em;
  z-index: 1000;
  animation: slideIn 2s ease-in-out forwards; 
  
}
.NavBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* height of the top line */
  background-color: #000; /* black line */
  z-index: -1;
}

.Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:12vw;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(239, 236, 236);
  border: none;
  border-radius: 15px;
  text-decoration: none;
  
}
.Nav1:hover, .Nav2:hover, .Nav3:hover, .Nav4:hover , .Nav5:hover{
  background-color: rgb(171, 37, 13);
  box-shadow: 0 4px rgb(192, 191, 191);
  font-size: 1.02em;
}
.Nav1:active, .Nav2:active, .Nav3:active, .Nav4:active, .Nav5:active {
  background-color: rgb(136, 40, 24);
  box-shadow: 0 2px rgb(141, 141, 141);
  transform: translateY(7px);
}

/* Tablet, mid-small view */
@media  screen and (max-width: 1300px) {
  .NavBar {
             font-size: 0.9em;
             padding:0px;
             margin: 0px;
             width: 100%;
             text-align: center;
             align-items: center;
             justify-content: center;
             gap: 0.05em;
            } 
            
            .Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
              background-color: rgb(136, 66, 66);
              display: flex;
              justify-content: center;
              margin-top: 20px;
              margin-bottom: 1opx;
              align-items: center;
              height: 48px;
              width:21vw;
              font-weight: bold;
              text-align: center;
              /* padding: 2%; */
              color: rgb(239, 236, 236);
              border: none;
              border:dashed 2px #e0c397; 
              border-radius: 15px;
              text-decoration: none;
            }
            
            a:link {
              text-decoration: none;
              color: #5f3044;
              
            }
            .grid-wrapper{
              grid-gap: 0.5em
            }
   .body{
     grid-gap: 0.5em,
    }
    
    .grid1, .grid2, .grid3 {
      padding: 250px 60px 10px 25px;
      
    }
  }
  
  /* Tablet, mid-small view */
  @media  screen and (max-width: 1000px) {
    .NavBar {
            font-size: 0.9em;
            padding:0px;
            margin: 0px;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 0.05em;
          } 
          
          .Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
  background-color: rgb(130, 39, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width:21vw;
  font-weight: bold;
  text-align: center;
  color: rgb(239, 236, 236);
  border: none;
  border:dashed 2px #e0c397; 
  border-radius: 15px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #a6d49d;
  
}
.grid-wrapper{
  grid-gap: 0.5em
}
.body{
    grid-gap: 0.5em,
  }
  
  .grid1, .grid2, .grid3 {
    padding: 250px 60px 10px 25px;
    
  }
}

@media screen and (max-width: 600px){
  .NavBar {
            font-size: 0.9em;
            padding:0px;
            margin: 0px;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 0.05em;
          } 
          
          .Nav1, .Nav2, .Nav3, .Nav4, .Nav5{
            background-color: rgb(88, 3, 23);
            display: flex;
            justify-content: center;
            letter-spacing: 0px;
            align-items: center;
            height: 45px;
            width:21vw;
            font-weight: bold;
            text-align: center;
            color: rgb(239, 236, 236);
            border: none;
            border:dashed 2px #e0c397; 
            border-radius: 15px;
            text-decoration: none;
          }
          a:link {
            text-decoration: none;
    color: #5d2828;
  }
  .grid-wrapper{
    grid-gap: 0.5em
  }
  .body{
    grid-gap: 0.5em,
  }
  
  .grid1, .grid2, .grid3 {
    padding: 250px 60px 10px 25px;
    
  }
  .form button {
    margin-bottom: 2rem;
  }
}

/* Banner */

.sentence {
  display: grid;
  /* grid-template-rows: auto; */
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-top: 6.25em;
  padding-bottom: 0em;
  text-shadow: 1% 3% 5% #89d6e7;
  z-index: 2;
}

.Banner {
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  height: 25vh;
  margin: 0;
  padding-bottom:0px;
  width: auto;
}

.web {
  font-family: "Nunito", sans-serif;
  font-size: 2.40em;
  color: rgb(245, 245, 247);
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  justify-items: center;
  padding-bottom:0.5em;
}

@media  screen and (max-width: 400px){
  .Banner {
padding: 2px;
height: 32vh;

  }  
  .web {
    font-size: 0.8vm;
   }
   .sentence   
   {
    width: auto;
    padding-top:1.75em;
    
  }
    .grid1, .grid2, .grid3 {
      padding: 250px 60px 10px 25px;
       
    }
  } 


@media only screen and (max-width: 600px) {
  .web {
    font-size: 1.5em;
    padding: 0% 5% 5% 0%;
    margin: 0% 0% 0% 0%;
  }
}

/* Body */

.Body {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid darkred !important;
  
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
  align-content: center;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  text-align:left;
  color:white;
  font-weight: 350;
  gap: 1.2em;
  margin: auto;
  padding: 0px;
  padding-bottom: 3rem;
  
}


.grid1 {
  /* culomn 1 */
  display: grid;
  grid-template-rows: repeat(4, auto);
  font-size: 18.5px;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  text-align:left;
  align-content: center;
  border-radius: 35px;
  padding: 0em 20px;
  padding-top: 0px;
  line-height: 1.78em;
  margin: 20px 5px;
 
} 

.personal {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.grid2, .grid3 {
  /*culomn 2 */
  display: grid;
  color:white;
  grid-template-rows: repeat(15, auto);
  font-size: 18px;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  box-shadow: 2px #737779;
  text-align:left;
  padding: 20px;
  margin: 58px 8px 0px 8px;
  line-height: 1.79em;
 }

.p4 {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px 18px;
  line-height: 1.98em;
  font-size: 1em;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-style: italic;
  font-weight:300;
  text-align: center;
  text-align: left;
 }

.p1 {
  padding: 0rem 1rem 0.5rem 2rem;
  margin: 0px;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-size: 1.04em;
  line-height: 35px;
  }
.p2 {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
  font-size: 1em;
  text-align: center;
  line-height: 1em;
}
.p3 {
  padding: 10px 0px;
  font-weight: bold;
  margin: 5px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1em;
}

.hire {
  padding: 20px 0px;
}

.hh2{
  font-size: 1.55em;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1,
h2,
h4 {
  font-size: 1.90em;
  padding: 0px 5px 0px 5px;
  margin: 0px;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  text-align: center;
  letter-spacing: 5px;
 }
h4 {
  padding-top: 2em;
  padding-bottom: 10px;
  font-size: 1.65em ;
 }
.hh1 {
  margin-top: 20px;
}
.hh5 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Nunito", sans-serif;
  line-height: 2em;
}

.pp4 {
  padding: 0px 0px;
  margin: 0px 0px;
  font-family: 'Cairo', 'Montserrat', 'Arial, Helvetica, sans-serif';
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

  .download2 {
    color:rgb(246, 7, 7);
    font-size: 1.2em;
    letter-spacing: 3px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-self: center;
    padding-left: 2em;
    font-style: italic;
    position: relative; 
    display: inline-block; 
  }
  
  .download2::before {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px;
    background-color: #dfcbcb;
    transition: width 0.3s ease;
  }
  
  .download2:hover {
    color:rgb(248, 70, 70);
  }
  
  .download2:hover::before {
    width: 100%;
  }
  
.hh4 {
  padding: 1em 0px 0px 0px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-align: center;
  gap: 1.5em;
  margin-top: 4em;
  font-size: 1.5em;
}

/* /* AboutMe */
.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
  font-family: 'Cairo', 'Montserrat', 'Arial', Helvetica, sans-serif;
  background-image: url(./Assets/developer1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto; 
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid darkred;
}

.content-about {
  width: 80%;
  max-width: 88rem; 
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 3rem; 
}

.h-me2 {
  font-size: 3em;
  color: white;
  margin-bottom: 1rem; 
  /* letter-spacing: 5px; */
}

.p-me2 {
  font-size: 23px;
  color: white;
  line-height: 2.25em;
}

@media screen and (max-width: 600px){
  .AboutMe {
    padding-top: 4rem;
  }

  .content-about {
    width: 90%; 
    padding: 1rem; 
  }

  .h-me2 {
    font-size: 2em; 
  }

  .p-me2 {
    font-size: 18px; 
}
}

/* projects */

.projects  {
  display: grid;
  grid-template-rows:auto;
  background-color: rgb(7, 9, 13);
  justify-content: center;
  justify-items: center;
  justify-self: center;
  border-bottom: 3px solid darkred;
  animation: fade-up 2s ease-in; ;

  
}
.projects2{
  border: 2px dashed darkred;
  box-shadow: 1px 2px 2px 2px #6d5f5f;
padding :1rem 0rem 1rem 0rem;
font-family: 'cario','Arial', 'Montserrat', sans-serif;
margin: 4rem;
border-radius: 2%;
animation: slideout 2s ease-in; 

}

@media screen and (max-width: 600px){
  .h2-projects, .h2-projects2 {
    letter-spacing: 0.10em !important;
  }
  
}

.h2-projects {
  letter-spacing: 0.45em;
  padding-top: 3em;
  padding-bottom: 1em;
  color: rgb(249, 252, 216);
  font-size: 3.5em;
  font-family: "Nunito", sans-serif;
  /* font-family: 'cario','Arial', 'Montserrat', sans-serif; */
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 3px 3px #fad9ad;
  animation: slideout 2s ease-in; 

}
.h2-projects2 {
  letter-spacing: 0.25em;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  color: rgb(249, 252, 216);
  font-size: 2.75em;
  font-family: 'cario','Arial', 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
  text-shadow: 2px 3px 2px #fad9ad;
}

.div-squish {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
  align-content: center;
  margin: 10px;
  padding: 5px;
  animation: slideout 2s ease-in; 

}
.p-projects {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  width: 65%;
  height: 78%;
  font-family: 'cario','Arial', 'Montserrat', sans-serif;
  color: white;
  font-size: 19px;
  text-align:left;
  text-justify: distribute;
  line-height: 35px;
  border-radius: 20px;
  border: 2px dashed rgb(77, 57, 57);
  justify-content: center;
  margin: 20px 25px; 
  padding: 1.5em 2.70em;
  justify-self: center;
  box-shadow: 1px 2px 5px 5px #340c02;
  animation: slideout 2s ease-in; 
} 
.push-word {
  padding-left: 8rem;
  color: rgb(238, 238, 206);
  font-size: 20px;
}
.aa{
  color: #eedfcc;
  align-items: right;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
  padding-right: 25px;
}
.aa:hover {
  align-items: end;
  font-weight: bolder;
  font-size: 1.02em;
  color: #e0c397;
  text-decoration: underline;
}

.picsquish {
  align-items: center;
  width:278px;
  height: auto;
  border-radius: 20px;
  margin-top: opx;
  box-shadow: 4px 3px 3px 3px #57595a;
}

.picsquish-toe {
  align-items: center;
  width:278px;
  height: 190px;
  border-radius: 20px;
  margin-top: opx;
  box-shadow: 4px 3px 3px 3px #363737;
}

.game-images {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px #2b2b2b;
}

/* ContactMe */

.container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.h2-form {
  margin-top: 20px;
  padding-bottom: 2rem !important;
  font-size: 2.75em;
  text-align: center;
}

@media screen and (max-width: 600px){
  form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    align-items: center;
    margin: 0 imortant;
    width: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  align-items: center;
  color: white; 
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 8em;
  border-radius: 15px;
  width: 70%;
  margin: auto;
  padding-left: 0%;
  padding-right: 0%;;
}


form label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 10px;
  border-radius: 15px;
  color: white; 
  justify-content: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 50px; 
  line-height: 90px; 
}


form input {
  width: 65%;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2em;
  color: black;
}

form textarea {
  width: 65%;
  height: 7em;
  padding: 8px;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: black;
  border: none;
  border-radius: 3px;
  line-height: 20px;
  justify-self: center;
  justify-content: center;
  border-radius: 10px;

}

form button {
  background-color: #1d4159;
  letter-spacing: 3px;
  height: 4em;
  width: 65%;
  align-self: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
  justify-content: center;
  align-items: center;
} 
form button:hover {
background-color: #5184a7;
font-size: 1.5em;
}        
 
form button:active {
  background-color: #7099b5;
  box-shadow: 02px #c9c9c9;
  transform: translateY(7px);
}

.popup {
  position: fixed;
  top: 26%;
  left: 50%;
  border: 3px solid grey;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: 1.45em;
  color:white;
  text-align: center;
  box-shadow: 2px 2px #868889;
  z-index: 9999; 
}

.popup p {
  margin-bottom: 10px;
}
.error {
  color: red; 
  font-size: 1em; 
}
