/* Banner */

body {
  background-color: #a0c3c8;
  margin-bottom: 1em;
}

.sentence {
  display: grid;
  grid-template-rows: auto;

  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2.5em;
  margin-bottom: 0em;
  padding: 1.25em
}

.Banner {
  /* display: grid;
  grid-template-columns: 1fr; */
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0;
  padding-bottom:0px;
  width: 95vm;
  height: 18.5vh;

  /* background-color: #b3caca; */
}
@media only-screen and (max-width: 600px){
  .Banner {
padding: 2px;
  }  
  .web {
    font-size: 0.8vm;
   }
   .sentence   
  .pic {
    width: auto;
    
  }
  .nav1,.nav2, .nav3, .nav4 {
      padding: 10px;
      margin: 5px;
    }
  } 


.pic {
  display: flex;
  justify-content: left;
  margin: 0; 
  color: rgb(190, 159, 221);
  border: 5px solid #c0e3e8;
  border-radius: 90em;
  width: 8em;
}

.web {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.40em;
  color: rgb(22, 4, 88);
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  justify-items: center;
  text-shadow: 1% 3% 5% #e7de89;
  /* padding: 0% 10% 10% 0%; */
  padding-bottom: 5%;
  /* margin: 8% 0% 0% 15%; */
}

@media only screen and (max-width: 600px) {
  .web {
    font-size: 1.5em;
    padding: 0% 5% 5% 0%;
    margin: 0% 0% 0% 0%;
  }
}

/* NavBar */
.NavBar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.10%;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  font-family:sans-serif, Arial, Helvetica;
  text-align: center;
  font-size: 1.25em;
  
}

@media screen and (max-width: 600px){
  .NavBar {
            font-size: 0.7em;
            padding:0px;
            text-align: center;
            align-items: center;
            gap: 0.2em;
  } 
  
  .nav1, .nav2, .nav3, .nav4 {
    text-align: center;
    align-items: center;
    padding: 5px;
    gap: 0.2em;
  }
  
  a:link {
    text-decoration: none;
    color: #8181ac;
    
  }
  .grid-wrapper{
    grid-gap: 0.5em
  }
  .body{
    grid-gap: 0.5em
  }

  
  }



.Nav1 {
  background-color: rgb(131, 181, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
  color: #50505e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.Nav1:hover {
  background-color: rgb(139, 194, 225);
  font-size: 1.02em;
}
.Nav1:active {
  background-color: rgb(146, 183, 204);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Nav2 {
  background-color: rgb(236, 180, 57);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
  color: #50505e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;

}
.Nav2:hover {
  background-color: rgb(249, 196, 82);
  font-size: 1.02em;
}
.Nav2:active {
  background-color: rgb(245, 242, 99);
  box-shadow: 0 5px #666;
  /* transform: translateY(4px); */
}
.Nav3 {
  background-color: rgb(149, 149, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  padding: 2%;
  color: #41414d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;

}
.Nav3:hover {
  background-color: rgb(158, 158, 222);
  font-size: 1.02em;
}
.Nav3:active {
  background-color: rgb(141, 141, 197);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Nav4 {
  background-color: #7acd9a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:17vw;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
  color: #50505e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;

}
.Nav4:hover {
  background-color: rgb(136, 219, 156);
  font-size: 1.02em;
}
.Nav4:active {
  background-color: rgb(121, 246, 169);
  box-shadow: 0 5px #666;

  transform: translateY(4px);
}
/* Body */

.Body {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: 95vw;
  background-color: #c3caca;
  border-radius: 25px;
  box-shadow: 14% 12% 12% #999;
  
}
 .grid-wrapper{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
  align-content: center;
  grid-gap: 1.2em;
  margin: auto;
  padding: 0px;
}

.grid1 {
  /* culomn 1 */
  display: grid;
  grid-template-rows: repeat(8, auto);
  align-content: center;
  background-color: #fcedc5;
  border-radius: 35px;
  box-shadow: 15% 12% 15% #999;
  margin: 20px 5px;
  padding: 20px;
  padding-top: 0px;
} 

.personal {
  display: flex;
  flex-direction: column;
  padding-top: 0px;

}
.grid2 {
  /*culomn 2 */
  display: grid;
  grid-template-rows: repeat(40px 40px 20px);
  background-color: #f8eece;
  border-radius: 45px;
  box-shadow: 15% 12% 15% #999;
  text-align: justify;
  padding: 20px;
  margin: 20px 3px;
}
.grid3 {
  /*culomn 3 */
  display: grid;
  grid-template-rows: repeat(15, auto);
  background-color: #fcf2d7;
  padding: 20px 50px 5px 20px;
  margin: 20px 3px;
  border-radius: 45px;
  box-shadow: 15% 12% 15% #999;
  text-align: justify;
  
}

.p4 {
  display: flex;
  align-items: center;
  line-height: 30px;
  padding: 0px;
  margin: 0px 18px;
  line-height: 1.75em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight:300;
  font-size: 1em;
  text-align: center;
  text-align: justify;
}

.pp1 {
  margin-top: 0px;
  padding-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
  line-height: 30px;
}
.p1 {
  padding: 0px 5px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 31px;
  text-align: justify;
}


h1,
h2,
h4 {
  font-size: 2em;
  padding: 0px 5px 0px 5px;
  margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

  text-align: center;
  /* line-height: 30px; */
 }
 h4 {
  font-size:1em ;

 }
.hh1 {
  margin-top: 20px;
}
.hh2{
  margin-top: 10px;
}
.p2 {
  padding: 0px;
  margin: 0px;
  font-family: cursive;
  font-size: 1em;
  text-align: center;
    line-height: 1em;

}
.p3 {
  padding: 10px 0px;
  font-weight: bold;
  margin: 5px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1em;

}
.pp4 {
  padding: 0px 0px;
  margin: 5px 0px;
  line-height: 30px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-align: justify;
}
.hh4 {
  padding: 18px 0px 0px 0px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.hh5 {
  padding: 50px 0px 0px 0px;
  padding-top: 0px;
  margin-top: 25px;
  font-family: "Nunito", sans-serif;
}
.download{
  background-color: #10011d;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-align: center;
  gap: 1.5em;
  margin-top: 1em;
  font-size: 1.5em;
}


/* AboutMe    */

.AboutMe {
  display: grid;
  background-image: image(Computer);
  background-color: rgba(151, 150, 150, 0.2);
  margin: 20px;
  padding: 10px;
  justify-content: center;
  justify-self: center;
}
.img {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navme-position {
  position:absolute;
  margin-top: 4em;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform: translate(10%, -55%);
} 

.h-me2 {
  position:absolute;
  letter-spacing: 6px;
  top: 17%;
  left: 42%;
  transform: translate(-50%, 33%);
  margin: 0px 0px 0px 80px;
  font-family:Arial, Helvetica, sans-serif ;
  color:white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.p-me2 {
  position: absolute;
  top: 48%;
  left: 14%;
  bottom: 20%;
  transform: translate(-10%, -70%);
  margin-bottom: 30px;
  padding-bottom: 3em;
  text-indent: 20px;
  font-family: Arial, sans-serif, 'Montserrat';
  font-weight:400;
  font-size: 22px;
  text-align: justify;
  /* text-shadow: 2px 2px #f0e586; */
  color:white;
  line-height: 2.45em;
}

.div-me2 {
  margin-bottom: 1em;
  padding-bottom: 2em;
}

@media screen and (max-width: 600px){
  .h-me2{
    position:absolute;
  letter-spacing: 6px;
  top: 15%;
  left: 39%;
  transform: translate(-48%, 33%);
  font-size: 2.5em;
  color:white;


  }
  .p-me2 {
    position: absolute;
  top: 55%;
  left: 25%;
  bottom: 20%;
  transform: translate(-18%, -71%);
}
}
/* Projects */

.projects {
  display: grid;
  grid-template-rows: repeat(2, auto);
  background-color: rgb(157, 217, 245);
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 0%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  border-radius: 35px;
  box-shadow: 8px 10px 10px #999;
}
.projects1 {
  display: grid;
  grid-template-rows: repeat(2, auto);

  margin: o;
  padding: 0;
  width: 80%;
  background-color: rgb(80, 100, 139);
  color: #040108;
  border-radius: 25px;
  justify-content: center;
  justify-self: center;
  box-shadow: 8px 13px 12px 8px #999;
}
.navpro {
  display:flex;
  align-items: center; 
  justify-content: center;
  margin-top: 8%;
}

.h2-projects {
  margin: 15px;
  padding: 1em;
  color: rgb(249, 252, 216);
  letter-spacing: 14px;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 3px 5px #fad9ad;
}

.p-projects {
  display: grid;
  margin: 20px;
  padding: 22px;
  width: 79%;
  height: 42%;
  background-color: rgb(211, 245, 247);
  font-family: 'Montserrat', sans-serif;
  color: rgb(48, 36, 69);
  font-weight: bold;
  font-size: 17px;
  text-align: justify;
  /* text-align:center; */
  line-height: 35px;
  border-radius: 15px;
  justify-content: center;
  text-shadow: 1px #999;
  justify-self: center;
  box-shadow: 1px 2px 5px 5px #999;
}
.aa{
  color: #cd7706;
  text-shadow: 1px #999;
  align-items: right;
  text-decoration: none;
  font-size: 1em;
  text-align: right;
}
.aa:hover {
  align-items: end;
  font-size: 1.02em;
  color: #ba7205;

}
.picsquish {
  /* display: flex; */
  align-items: right;
  text-align: right;
  width:278px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 10px #999;
  margin-top: 0px;
  box-shadow: 6px 6px 6px 6px #999;


}

 .text-layer {
  width: 40%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  /* z-index: 1; make sure the text layer is above the image */
} 
.div-squish {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.game-images {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 10px;
  box-shadow: 1px 2px 5px 5px #999;
}